###########################################################
# higgs agent configuration                              #
###########################################################

higgs.agent.debug=false

higgs.agent.id=

higgs.agent.collector.host=localhost
higgs.agent.collector.port=8080
higgs.agent.collector.retry.count=3

